
<h2>Login</h2>
<form method="GET" action="~/Home/StockList">


<button type="submit">Login</button>
</form>

<form method="GET" action="~/Home/Register">


<button type="submit">Register</button>
</form>
