@model StockJocky.Client.Models.UserViewModel

<h2>Login</h2>
<form method="post" asp-controller="Home" asp-action="AuthenticateUser" >

@Html.HiddenFor(m => m.UserName)




<label for="un" >Username</label>
<input type="text" id="un" asp-for="@Model.UserName" ><br><br>


<input type="submit" name='Login'>

<br><br>

</form>
@*
<form method="GET" action="~/Home/Register">


<button type="submit">Register</button>
</form>
*@
