
<h2>Register</h2>
<form method="GET" action="~/Home/Index">


<button type="submit">Register</button>
</form>

<form method="GET" action="~/Home/Index">


<button type="submit">Back To Login</button>
</form>